*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #151715;
}

.content{
    margin: auto; 
    margin-top: 10%;
    padding: 20px;
    width: 400px;
    height: 300px;
    border: grey 1px solid;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: none;
    box-shadow: black -2px -2px 8px, black 2px 2px 8px;
    background-color: #009DFF;
}
input {
    margin: auto;
    height: 50px;
    width: 240px;
    border-radius: 10px;
    color: #151715;
    background-color: white;
    text-align: center;
    border: none;
    box-shadow: black -2px -2px 8px inset, black 2px 2px 8px inset;
}

button {
    margin: auto;
    height: 50px;
    width: 170px;
    padding: 5px;
    background: none;
    border: #151715 2px solid;
    border-radius: 10px; 
}

button:hover {
    border: white 2px solid;
    color: white;
    cursor: pointer;
}


h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
    
}

h2{
    text-align: center;
    font-family: "comic sans ms";
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
}

p{
    text-align: center;
    font-family: "comic sans ms";
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin: 5px;
}